<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="site.css" type="text/css">
    <link rel="stylesheet" href="\node_modules\bootstrap\dist\css\bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/settingsRepo.js"></script>

    <script src="/settingsCtrl.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-messages/angular-messages.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>
    <title>Page Title</title>
</head>

<body ng-app="firstApplication" ng-controller="settingsCtrl as settings">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
        Simon's Bike Progress'
      </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="./index.html">Home</a></li>
                <li class="active"><a>Settings</a></li>
            </ul>
        </div>
    </nav>
    <form name="userForm" class="body-template" id="settings-main">
        <div layout-gt-xs="row">
            <md-input-container>
                <label>Saving up for</label>
                <input ng-model="savingUpFor">
            </md-input-container>
        </div>
        <!--<div layout-gt-xs="row">
            <md-input-container>
                <label>Cost</label>
                <input ng-model="cost">
            </md-input-container>-->

        </div>

        <div layout-gt-xs="row" id="date-picker">
            <md-datepicker ng-model="startDate" md-placeholder="Start date"></md-datepicker>
      </div>
</br>

        <div layout-gt-xs="row" id="date-picker">
            <md-datepicker ng-model="dueDate" md-placeholder="End date"></md-datepicker>
      </div>
</br>

        <!--<div layout-gt-xs="row">
            <md-input-container>
                <label>Days a week cycling</label>
                <input ng-model="daysCyclingAWeek">
            </md-input-container>
        </div>-->


        <div layout-gt-xs="row">
            <md-button ng-click="showConfirm()" id="settings-form-md-button" class="md-primary md-raised" ng-click="showAlert($event)">Save</md-button>
            <row>
    </form>

</body>

</html> 