body {
    background-color: 	#303030 !important;
}
#settings{
    align-items: center;
    align-content: center;
}

.body-template{
    background-color: mintcream !important;
    width: 250px;
    padding: 10px;
    align-content: center;
    margin: auto;
}

#home-buttons {
    text-align: center;
    padding: 5px;
}

.expense-text-box{
    margin-top: 40px;
    margin-bottom: -20px;
}

#settings-form-md-button{
    width:90%
}

#home-main{
    text-align: center !important; 
}
#settings-main{
    padding: 20px; 
}
#date-picker{
     margin-left: -12px !important;
}